# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# User settings
xcuserdata/
*.xcuserstate

# SwiftPM
/.build/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.xcarchive

# Logs
*.log

# macOS
.DS_Store
